table_III.xlsx
table_IV.xlsx
table_V.xlsx
table_I.xlsx
table_II.xlsx
voigtlaender_results_undajusted_sd.aux
voigtlaender_results_undajusted_sd.log
voigtlaender_results_undajusted_sd.pdf
voigtlaender_results_undajusted_sd.synctex.gz
table_I.csv
table_I.rds
table_II.csv
table_II.rds
table_III.csv
table_III.rds
factor_strucuture.png
struc_by_sectors.xlsx
table_IV.csv
table_IV.rds
table_factordim.csv
table_factordim.rds
